uvicorn[standard]==0.16.0
gunicorn==20.1.0
fastapi==0.70.1
pydantic==1.8.2
mysql.connector==2.2.9
SQLAlchemy==1.4.28
mysqlclient==2.1.0
python-decouple==3.3
python-multipart==0.0.5
pydantic[dotenv]==1.8.2
pydantic[email]==1.8.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4